<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>ExpressGeneratorTypeScriptApp</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    </head>
    <body>

    <!-- Add Users -->
    <div class="users-column add-user-col">
        <div class="column-header">Add User:</div>
        <div>
            <input id="name-input" placeholder="Name">
        </div>
        <div>
            <input id="email-input" placeholder="Email">
        </div>
        <div>
            <button id="add-user-btn">Add</button>
        </div>
    </div>

    <!-- Display Users -->
    <div class="users-column">
        <div class="column-header">Users:</div>
        <div id="all-users-anchor"></div>
        <div id="all-purchases-anchor"></div>
    </div>



    </body>
    <script src="scripts/index.js"></script>
    <script>
        fetch('http://localhost:3000/users')
            .then(response => response.json())
            .then((response) => {
                console.log(response);
                const allUsers = response.users;
                const allUsersAnchor = document.getElementById('all-users-anchor');
                allUsersAnchor.innerHTML = '';
                allUsers.forEach(user => {
                    allUsersAnchor.innerHTML += getUserDisplayEle(user);

                    fetch('http://localhost:3000/purchases/' + user.id)
                        .then(response => response.json())
                        .then((response) => {
                            console.log(response);
                            const allPurchases = response.purchases;
                            const allPurchasesAnchor = document.getElementById('all-purchases-anchor');
                            allPurchases.forEach(purchase => {
                                console.log(purchase);
                            });
                        });
                });
            });
        const getUserDisplayEle = user => {
            return `<div class="user-display-ele">
                <div class="normal-view">
                    <div>FirstName: ${user.firstName}</div>
                    <div>LastName: ${user.lastName}</div>
                </div>
            </div>`;
        };
    </script>
</html>
